html, body {
  height: 100vh;
}

body {
  margin: 0;
}

@media (min-width: 1270px) {
  html, body {
    min-width: 1270px;
  }
}

@font-face {
  font-family: 'SangSangFlowerRoad';
  src: url('../../assets/fonts/SangSangFlowerRoad.otf');
  /* src: url('../../assets/fonts/sangsangflowerroad-webfont.woff2'); */
}
@font-face {
  font-family: 'SSShinb7';
  src: url('../../assets/fonts/SSShinb7.ttf');
  /* src: url('../../assets/fonts/ssshinb7-webfont.woff2'); */
}
@font-face {
  font-family: 'BlackHanSans';
  src: url('../../assets/fonts/BlackHanSans-Regular.ttf');
}